.textRed {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.textGreen {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-family: Arial, sans-serif;
}

img {
  margin-bottom: 10px;
}
